*{
    margin: 0px;
    padding: 0px;
}
.heading{
    background-image: url('./img/indian-art-wallpaper-preview.jpg');
    line-height: 400px;
    margin-top: 10px;

}
nav{
    background-color: darkblue;
    height: 70px;
    width: 100%;
    

}
nav ul li{
    display: inline-block;
    margin:0px 23px;
    padding: 10px;
}
nav ul a{
    color: white;
    line-height: 50px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
    padding: 0px 10px;
    transition: 0.8s;
    
}
nav ul a:hover{
    background-color: rgb(207, 215, 226);
}
.sub-heading{
    margin:30px 0px;
    background-color: yellow;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
}
html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

.images{
    height: 250px;
    width: 270px;
    float: left;
    padding: 15px;
}
#freedom-fighters::after{
    content: '';
    display: block;
    clear: both;
}
#political-leaders::after{
    content: '';
    display: block;
    clear: both;
}
#sports-leader::after{
    content: '';
    display: block;
    clear: both;
}
}
